{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-narrow">
      <div class="section-gap">
        <h1 class="center">A template page '-'</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quam assumenda voluptatum odio quod sit voluptatem soluta, at corrupti consequuntur esse officiis eos obcaecati sed consequatur expedita, nostrum tempora possimus?</p>
      </div>
    </div>
  </main>
{% endblock content %}